
*{
  box-sizing: border-box;
  
}
body{
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0; 
}
.menuBar{
   display: flex;
   justify-content: space-between;
   background: black;
}
.mainLink{
  display: flex;
  height: 40px;
  background: black;
  align-items: center;
 
}
.iconBox{
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  

}
.iconBox:hover{
  background: gray;
}
.bloglife-heading{
  text-align: center;
padding: 1.9rem 0;
  
}
h1{
  text-transform: uppercase;
  transform: scaleY(1);
  margin-top: 1.9rem;
  font-weight: 800;
  font-size: 3em;
 
  margin-bottom: 0.8rem;

}
.sub-head{
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 500;
  transform: scaleY(1.2);
}
.janesWorld{
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0 0.7rem;
}
.jane-img{
  width: 100%;
  height: auto;
  display: block;
}
.blog-info{
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}
.main{
  position: relative;
  color: blue;
  text-align: left;
}
.jane-blog{
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: 4px;
  transform: scaleY(2);
  margin-top: 1rem;
}
.jane-fashion{
  color: rgb(255, 255, 255);
  font-size: 2.7em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  transform: scaleY(2);
  margin-top: 3rem
}
.subscribe-button{
  background-color:rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 0.5rem;
  padding: 0.6rem 1.6rem;
  border: 0;
  transform: scaleY(1.4);
}

h3{
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  transform: scaleY(1.8);
  letter-spacing: 2px;

}
h4{
  font-size: 1rem;
  font-weight: 700;
  color: rgb(7, 7, 7);
  text-align: center;
  transform: scaleY(1.3);

}
.date{
  color: rgb(132, 132, 132);
  
  
}


.hats-picture,
.hats-description,
.hats-french{
  width: 100%;
  max-width: 100%;
}
.hats-contents{
  background: rgb(255, 255, 255);
  padding: 2rem;
  

 
}
@media (max-width: 900px){
  .hats-general{
    display: flex;
    flex-direction: column;
  }

  .avatar-contents{
    width: 100%;
  }
}


.hats-general{
  background: rgb(237, 237, 237);
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.leftContents{
  flex: 2;
  min-width: 0;
 
}

.firstWord{
  font-weight: bold;
}
.avatar-contents{
  flex: 1;
  min-width: 0;
  

  
}

.avatar-view{
  background: black;
  color: white;
 
}
.avatar-girl{
  width: 100%;
  filter: grayscale(75%);
}

.avatar-description{
  padding: 1rem;
}
.smokeImage,
.bandImage,
.workshopImage,
.trendsImage {
  width: 3.1rem;
  
}


.popular{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 1rem 0;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  transform: scaleY(1.5);
}
.smoker-detail,
.bandmember-detail,
.workshop-detail,
.smoketrends-detail {
  line-height: 10px;
  margin-left: 1rem;
  
}


 
.smoke-background,
.bandmember-background,
.workshop-background,
.smoketrends-background {
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 3.1rem 1fr;
  padding-left: 1rem;
  padding-top: 1rem;
  
  
}
.smoke-background,
.bandmember-background,
.workshop-background {
  border-bottom: 1px solid;
  border-color: rgb(228, 227, 227);
}

.aside-yourAd{
  margin-top: 40px;
}
.advertise{
  background: rgb(0, 0, 0); 
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0; 
  padding: 1.3rem;
}
.div-yourAd{
  background-color: rgb(255, 255, 255); 
  padding: 2px 16px; 
  margin-top: 0; 
  text-align: center;
}
.yourAd{
  background: rgb(244, 244, 244); 
  padding: 90px;
}
.tags{
  background: rgb(255, 255, 255);
  margin-top: 0;
  padding: 1rem; 
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 row-gap: 1rem;
 padding-right: 2rem;

 

}
.city {
  text-align: center;
  padding: 0 10px;
  margin: 0 2px;
}
.firstTag{
  background: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255);
  
}
.inspiration-images{
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
}
.inspireJean,
.inspireAvatar,
.inspireTeam1,
.inspireTeam4 {
  width: 100%;
}
input{
  font-size: 1em;
   width: 100%;
  padding: 0.7rem;
}
.side-button{
  background: red;
  color: rgb(255, 255, 255);
  font-size: 1em;
  width: 100%;
  padding: 0.8rem;
  border: none;
  margin-top: 1rem;
  
}

 
.icon{
  background: rgb(255, 255, 255);
  padding: 1rem;
  display: flex;
  font-size: 1.4em;
  
}
.icon-general{
  margin-bottom: 2rem;
}


.hats-onclick{
 display: flex;
 justify-content: space-between;
 margin-top: 2rem;
 margin-bottom: 5rem;
 margin-left: 1.8rem;
 margin-right: 1.8rem;
}
.hats-like{
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  border-width: 1px;
  border-color: rgb(211, 211, 211);
  border-style: solid;
  padding: 0.5rem 1rem;

 
  
}
.hats-like i{
  font-size: 1em;
}
.hats-reply{
  background: rgb(0, 0, 0);
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 0.5rem 0.8rem;
  border: 0;
}
.one-span{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0.2rem 0.6rem;
  margin-left: 1rem;
}
.hats-clicked{
  display: grid;
  grid-template-columns: 8rem 1fr;
  margin-left: 1.8rem;
  margin-bottom: 2rem;

}
hr{
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-bottom: 1.7rem;
}
.clicked-text{
  vertical-align: top;
}
.picture-clicked{
  width: 6rem;

}
.ftContents{
  background: rgb(137, 137, 137);
  padding-top: 2rem;
  height: 10rem;
}
.notifyForm{
  background: rgb(255, 255, 255);
  padding: 1rem;
}

#demo1,
#demo2,
#demo3 {
  display: none;
}

.tonav {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  

  
}
.power{
  display: block;
  margin-top: 2.5rem;
  margin-left: 2rem;
  color: rgb(255, 255, 255);
}

.navigate{
  color: rgb(255, 255, 255);
}